@page "/"
@using CanvelStaticCpanel.Layout
@using CanvelStaticCpanel.Shared
@layout MainLayout
@inject NavigationManager NavigationManager


<PageTitle>Home</PageTitle>

<div class="hero">
	<div class="container">
		<h1>Impulsamos industrias críticas con equipos de alta especialización y soluciones integrales</h1>
		<p>Nuestra experiencia combinada de más de 15 años en el sector respalda el suministro y soporte técnico de equipos críticos y especializados, así como la selección de proveedores confiables y de calidad.</p>
		<MyButton ButtonText="Contáctanos" ButtonClass="btn-primary" OnClick="@NavigateToContact"  />
	</div>
</div>



<h1 class="titulo">Principales Aliados</h1>


<div class="aliados">
	<div class="aliados-imagenes">
		<a href="https://www.manoilmarine.com/">
			<img src="https://firebasestorage.googleapis.com/v0/b/canvel-b3103.appspot.com/o/Home%2F09jcl_Aliado_manoil.png?alt=media&token=a9f6acd0-515c-4d4c-95be-1cc3b2420bf1" alt="Manoil" />
		</a>
		<a href="https://iocs-srl.com/">
			<img src="https://firebasestorage.googleapis.com/v0/b/canvel-b3103.appspot.com/o/Home%2Fkd2jk_Aliado_iocs.png?alt=media&token=5e72a246-efe9-47e5-9061-9bb35d88760b" alt="Iocs" />
		</a>
		<a href="https://www.irmome.com/">
			<img src="https://firebasestorage.googleapis.com/v0/b/canvel-b3103.appspot.com/o/Home%2Fyylwn_Aliado_irm.png?alt=media&token=b66ea5a6-df67-48e1-bd19-0dca343eeda3" alt="IRM" />
		</a>
		<a href="https://constellationengineering.com/">
			<img src="https://firebasestorage.googleapis.com/v0/b/canvel-b3103.appspot.com/o/Home%2Fpjiq3_Aliado_constellation.png?alt=media&token=96140670-0488-4cb6-9fb6-4efae0a59c07" alt="Constellation" />
		</a>
		<a href="https://www.marit.fr/en/">
			<img src="https://firebasestorage.googleapis.com/v0/b/canvel-b3103.appspot.com/o/Home%2Fmarit-01.png?alt=media&token=59494d4e-e0c9-419a-9cf0-1d9f21aac569" alt="Marit" />
		</a>
	</div>
</div>



<h1 class="titulo">Beneficios y Caracteristicas</h1>
<img class="features" src="BottomGraphic.svg" alt="features graph" />



@code {
	private void NavigateToContact()
	{
		// This will navigate to the /contact route
		NavigationManager.NavigateTo("/new/contact");
	}
}