/* Logo SVG */
.logosvg {
    height: 50px;
    width: auto;
}

/* Hero Image */
.heropic {
    height: 200px;
    width: auto;
}

/* Hero Section */
.hero {
    position: relative;
    display: flex;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/canvel-b3103.appspot.com/o/Home%2Fpexels-hormel-media-1095814.jpg?alt=media&token=b29d1f93-3577-47db-bd6b-d1fbc9b5a1d4");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
    z-index: 1; /* Ensure the overlay is behind the text */
}

/* Hero Text Styles */

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.container h1:focus {
    outline: none;
}

/* Aliados Section */
.aliados {
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 25px 10px;
    color: #007bff;
}

/* Aliados Images Container */
.aliados-imagenes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

/* Aliados Images */
.aliados img {
    height: auto;
    max-width: 100%;
    display: block;
    max-height: 200px;
}

/* Title */
.titulo {
    font-size: 1.25rem;
    text-align: center;
    margin: 15px 0;
    font-weight: 600;
    color: black;
}

/* Features Section */
.features {
    margin: 40px 40px;
}


/* Mobile Adjustments */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;      /* Stack hero items vertically */
        padding: 0;                  /* Reduce padding on mobile */
        text-align: center;          /* Center text for better readability */
        width: auto;
        justify-content: center;
    }
    
    .hero h1 {
        font-size: 1.5rem;           /* Adjust font size for smaller screens */
    }
    
    .hero p {
        font-size: 0.9rem;           /* Adjust font size for mobile */
    }

    .titulo {
        font-size: 1.2rem;
    }
    
    .features {
        margin: 20px 20px;           /* Reduce margins on mobile */
    }
    
    .aliados-imagenes {      
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 10px;
        align-items: center;
    }
}
