@page "/nosotros"

<section id="nosotros">
    <h3>Nosotros</h3>

    <p>
        Somos representantes exclusivos para Colombia de IRM Offshore and Marine Engineers, Man Oil and Marine, y distribuidores autorizados de empresas líderes en nuestras principales industrias a nivel mundial.
    </p>

    <p>
        CANVEL es una empresa joven y altamente calificada en el suministro de equipos especializados y auxiliares para las industrias marítima y portuaria, petróleo y gas, offshore, petroquímica, química y energética. También nos especializamos en brindar consultoría para soluciones integrales a medida, aprovechando nuestro conocimiento y la experiencia del equipo de ingenieros de CANVEL y de nuestros representados y aliados.
    </p>

    <p>
        Nuestra experiencia combinada de más de 15 años en el sector respalda el suministro y soporte técnico de equipos críticos y especializados, así como la selección de proveedores confiables y de calidad. Nuestro objetivo principal es convertirnos en un aliado estratégico y socio a largo plazo de nuestros clientes.
    </p>

    <h4>Principales Industrias</h4>
    <ul>
        <li>Marítima y Portuaria</li>
        <li>Oil & Gas</li>
        <li>Offshore</li>
        <li>Química</li>
        <li>Petroquímica</li>
        <li>Energética</li>
    </ul>

    <h4>Valores y Principios</h4>
    <div class="valores-principios">
        <article>
            <img src="Assets/Icon1.svg" alt="icono 1" />
            <div>
                <h5>Acompañamiento Técnico</h5>
                <p>
                    Brindamos asesoría y acompañamiento técnico a nuestros clientes en sus proyectos para la identificación y suministro de soluciones integrales, acorde a las necesidades y condiciones específicas de sus operaciones.
                </p>
            </div>
            
        </article>

        <article>
            <img src="Assets/Icon2.svg" alt="icono 2" />
            <div>
                <h5>Experiencia</h5>
                <p>
                    La experiencia de nuestros principales y aliados se evidencia en los equipos y elementos instalados y probados exitosamente alrededor del mundo. Los clientes satisfechos en todo el mundo son nuestra mejor carta de presentación de la calidad y confianza de nuestros productos.
                </p>
            </div>
           
        </article>

        <article>
            <img src="Assets/Icon3.svg" alt="icono 3" />
            <div>
                <h5>Compromiso con la Calidad</h5>
                <p>
                    Todas las actividades de nuestros representados y aliados se realizan de acuerdo con la norma ISO 9001:2015 y otros sistemas de gestión de calidad relacionados con las industrias, así como con las normas ambientales y de seguridad relevantes. Además, todos los equipos suministrados por CANVEL están acreditados por las principales sociedades de clasificación y se entregan con la certificación correspondiente.
                </p>
            </div>
            
        </article>
    </div>
</section>



@code {

}
