/* Container for the entire productos section */
#productos {
    padding: 2rem;
    background-color: #f9f9f9;
    color: #333;
    font-family: Raleway, sans-serif;
}

/* Heading styles */
#productos h3 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #222;
}

/* Paragraph styles */
#productos p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* Grid container for product items */
#productos .productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

#productos .brochures-grid {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-left: auto;
    margin-right: auto;
    row-gap: var(--gap);
    column-gap: var(--gap);
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    #productos {
        padding: 1rem;
    }

    #productos h3 {
        font-size: 1.5rem;
    }

    #productos p {
        font-size: 0.9rem;
    }

    #productos .productos-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    #productos .brochures-grid {
        flex-direction: column;
        align-items: center;
    }
}
