<footer class="footer">
	<div>
		<img src="LogoCanvel.svg" class="footer-pic" />
	</div>
	<div class="footer-div">
		<h2>Contacto</h2>
		<div class="socials-container">
			<div class="socials"> <span class="label"> Correo: </span> <span class="value"> info@canvel.co</span></div>
			<div class="socials"><span class="label">Telefono:</span> <span class="value"> (+57) 300 7516129</span></div>
			<div class="socials">
				<span class="label">Redes:</span>
				<span class="value">
					<a href="https://www.instagram.com/canvelsas/" target="_blank" rel="noopener noreferrer">
						<img src="Assets/instagram.svg" />

					</a>
					<a href="https://www.linkedin.com/company/canvelsolutions/about/" target="_blank" rel="noopener noreferrer">
						<img src="Assets/linkedin.svg" />
					</a>

				</span>
			</div>
		</div>
	</div>
</footer>

@code {

}
