<footer class="footer">
	<div>
		<img src="LogoCanvel.svg" class="footer-pic" />
	</div>
	<div class="footer-div">
		<p>info@canvel.co</p>
		<p>(+57) 300 7516129</p>
		<a href="https://www.instagram.com/canvelsas/" target="_blank" rel="noopener noreferrer">
			<p>Instagram</p>
		</a>
		<a href="https://www.linkedin.com/company/canvelsolutions/about/" target="_blank" rel="noopener noreferrer">
			<p>Linkedin</p>
		</a>
	</div>
</footer>

@code {

}
