@inject NavigationManager NavigationManager

<header class="header">
    <div class="header-container">

        <button class="menu-toggle" aria-label="Toggle Navigation" @onclick="@ToggleMenu">
            <img src="Assets/Hamburger.svg" class="hamburger" alt="alternate text"/>
        </button>
        <a href="/" class="logo"> 
            <img src="IsoType.svg" class="logosvg" alt="logo" height="50" width="100"/>
        </a>

        <nav class="@NavClass">
            <ul class="nav-menu">
                <li><NavLink href="" class="nav-link" Match="NavLinkMatch.All">Home</NavLink></li>
                <li><NavLink href="nosotros" class="nav-link">Nosotros</NavLink></li>
                <li><NavLink href="productos" class="nav-link">Productos</NavLink></li>
                <li><NavLink href="blog" class="nav-link">Blog</NavLink></li>
                <li><NavLink href="contacto" class="nav-link">Contacto</NavLink></li>
            </ul>
        </nav>
    </div>
</header>

@code {
    private bool isMenuOpen = false;
    private string NavClass => isMenuOpen ? "nav open" : "nav";

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        isMenuOpen = false;
        StateHasChanged();
    }

    public void Dispose()
    {
		NavigationManager.LocationChanged -= OnLocationChanged;
    }
}