<button @onclick="HandleClick" class="@ButtonClass">
    <span class="@SpanClass">@ButtonText</span>
</button>

@code {
    [Parameter]
    public string ButtonClass { get; set; } = "";
    [Parameter]
    public string ButtonText { get; set; } = "";
    [Parameter]
    public string SpanClass { get; set; } = "";

    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task HandleClick()
    {
        if (OnClick.HasDelegate)
        {
            await OnClick.InvokeAsync(null);
        }
    }
}

