<div class="producto-item">
	<div class="producto-name">
		<h3>@ProductoName</h3>
	</div>
	<div class="producto-img">
		<img src="@ProductoImgUrl" alt="Imagen de un Producto" />
	</div>
</div>


@code {
	[Parameter]
	public string ProductoName { get; set; }
	[Parameter]
	public string ProductoImgUrl { get; set; }


}
